<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Charge Index</title>
</head>
<body>
  <script src="/static/jquery-1.6.4.js"></script>
  <script src="/static/jquery-ui-1.8.17.custom.min.js"></script>
  <script src="/static/jquery.datePicker.js"></script>
  <script src="/static/date.js"></script>
  <script src="/static/DataTables-1.8.2/media/js/jquery.dataTables.js"></script>
  <script src="/static/jquery.dataTables.columnFilter.js"></script>
  <script src="/static/charge_index.js"></script>
  <style type="text/css" title="currentStyle">
      @import "/static/DataTables-1.8.2/media/css/demo_page.css";
      @import "/static/DataTables-1.8.2/media/css/demo_table.css";
      @import "/static/jquery-ui-themes/jquery-ui.css";
      @import "/static/index.css";
      .dataTables_filter {display: none;}
      .dataTables_length {float: none;}
  </style>

  <h1>Charge Index</h1>

  <form id="table_filter">
    <ul id="table_filter_inputs">
    <li id="table_filter_input">
    Filter by booking date:
    <input type="text" id="booking_date_start" /> to
    <input type="text" id="booking_date_end" />
    </li>
    <li id="table_filter_input">
    <input type="submit" value="Filter" />
    </li>
    </ul>
  </form>

  <div id="table_container">
  <table id="charge_table">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
    <tbody></tbody>
  </table>
  </div>

  <br />
  <div>
    <a href="/">Mental Health Association of Portland Plan B Thing</a>
  </div>

</body>
</html>
