<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mental Health Association of Portland Plan B Thing</title>
</head>
<body>

  <h1>Mental Health Association of Portland Plan B Thing</h1>

  <ul>
    <li><a href="booking_index">Booking index</a></li>
    <li><a href="charge_index">Charge index</a></li>
  </ul>

  <ul>
    <li>{{ bookings_count }} bookings.</li>
    <li>{{ bookings_1_count }} bookings updated yesterday.</li>
    <li>{{ bookings_2_count }} bookings updated 2 days ago.</li>
    <li>{{ bookings_w1_count }} bookings updated last week.</li>
    <li>{{ bookings_w2_count }} bookings updated 2 weeks ago.</li>
  </ul>

</body>
</html>
