{% extends "layout.html" %}

{% block head %}
{{ super() }}
<title>Mental Health Association of Portland Plan B Thing</title>
{% endblock %}

{% block content %}
  <h1>Mental Health Association of Portland Plan B Thing</h1>

  <ul>
    <li><a href="booking_index">Booking index</a></li>
    <li><a href="charge_index">Charge index</a></li>
    <li><a href="health/booking_index">Booking updates by week</a></li>
    <li><a href="health/booking_index?period=day">Booking updates by day</a></li>
  </ul>
{% endblock %}
