form#table_filter {
  border: 1px solid;
  padding: 1em;
  overflow: auto;
}

#table_filter_inputs{
  display: inline;
  list-style-type:none;
}

#table_filter_input{
  float: left;
}

#table_container {
  padding-top: 1em
}