<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Booking</title>
</head>
<body>
  <a href="http://jquery.com/">jQuery</a>
  <script src="jquery-1.6.4.js"></script>

  <script>
  $(document).ready(function() {

    function obj_to_dlist(data) {
      var items = [];
      $.each(data, function(key, val) {
        if (key == 'cases') {
          items.push('<dt>' + key + '</dt><dd>' + val + '</dd>');
        } else {
          items.push('<dt>' + key + '</dt><dd>' + val + '</dd>');
        }
      });
        
      return $('<dl/>', {
        'class': 'booking-list',
        'html': items.join('')
      });

      }
    
    function url_param(name) {
      var results = new RegExp(
          '[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
      if (!results) { return 0; }
      return results[1] || 0;
    }
    
    json_href = '../data/' + url_param('booking');

    $.getJSON(json_href, function(data) {
      var items = obj_to_dlist(data);
      items.appendTo('body');
    });

  });    

  </script>
    
</body>
</html>
