<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Booking</title>
</head>
<body>
  <script src="jquery-1.6.4.js"></script>

  <script>
  $(document).ready(function() {

      function array_to_dlist(arr, name) {
          // return a string of <dt><dd> elements from the given array
          var items = [];
          $.each(arr, function(index, val) {
              items.push('<dt>' + name + '</dt><dd><dl>' + 
                         obj_to_dlist(val) + '</dl></dd>');
          });
          
          return '<dl>' + items.join('') + '</dl>';
      }


      function obj_to_dlist(booking_obj) {
          // return a string of <dt><dd> elements from the given object
          var items = [];
          $.each(booking_obj, function(key, val) {
              // munge attributees
              if (key == 'url') {
                  val = '<a href="' + val + '">' + val + '</a>';
              }
              if ((key == 'cases') || (key == 'charges')) {
                  if (key == 'cases') {
                      var name = 'case';
                  } else if (key == 'charges') {
                      var name = 'charge';
                  }
                  items.push('<dt>' + key + '</dt><dd>' + 
                             array_to_dlist(val, name) + '</dd>');
              } else {
                  items.push('<dt>' + key + '</dt><dd>' + val + '</dd>');
              }
          });
          
          return items.join('');
      }
      
      function url_param(name) {
          // return the named query paramater from the current url
          var results = new RegExp(
              '[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
          if (!results) { return 0; }
          return results[1] || 0;
      }

      // write HTML from the indicated booking data file to document body
      var json_href = '../data/' + url_param('booking');
      $.getJSON(json_href, function(data) {
          var items = obj_to_dlist(data);
          $('<dl/>', {
              'class': 'booking-list',
              'html': items
          }).appendTo('body');
      });
      
  });    

  </script>
    
</body>
</html>
