<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Booking</title>
</head>
<body>
  <script src="jquery-1.6.4.js"></script>
  <script src="DataTables-1.8.2/media/js/jquery.dataTables.js"></script>
  <style type="text/css" title="currentStyle">
      @import "DataTables-1.8.2/media/css/demo_page.css";
      @import "DataTables-1.8.2/media/css/demo_table.css";
  </style>

  <script>
  $(document).ready(function() {

      // for demo purposes, get index from pregenerated index file, pointing
      // to json files
      // index is a sequence of objs
      // assume we'll want a DB for real life as this grows, rather than
      // rebuilding the indices with each add

      function index_obj_href(index_obj) {
          return 'booking.html?booking=' + index_obj.id
      }

      var booking_index_href = '../data/booking_index'
      $.getJSON(booking_index_href, function(index_objs) {
          var index_arrays = [];
          index_objs.map(function (obj) {
              href = index_obj_href(obj);
              name_link = '<a href="' + href + '">' + obj.name + '</a>';
              index_arrays.push(
                  [name_link, obj.age, obj.swisid, obj.race,
                   obj.gender, obj.arrestdate, obj.arrestingagency]);
          });
              
          $('#booking_table').dataTable({
    	  "aaData": index_arrays,
              "aoColumns": [
                  { "sTitle": "name" },
                  { "sTitle": "age" },
                  { "sTitle": "swisid" },
                  { "sTitle": "race" },
                  { "sTitle": "gender" },
                  { "sTitle": "arrestdate" },
                  { "sTitle": "arrestingagency" }],
          });
      });

      var charge_index_href = '../data/charge_index'
      $.getJSON(charge_index_href, function(index_objs) {
          var index_arrays = [];
          index_objs.map(function (obj) {
              href = index_obj_href(obj);
              charge_link = '<a href="' + href + '">' + obj.charge + '</a>';
              index_arrays.push([charge_link, obj.status, obj.bail]);
          });
              
          $('#charge_table').dataTable({
    	  "aaData": index_arrays,
              "aoColumns": [
                  { "sTitle": "charge" },
                  { "sTitle": "status" },
                  { "sTitle": "bail" }
              ],
          });
      });

  });

  </script>

  <h2>Booking Index</h2>
  <table id="booking_table">
  </table>

  <h2>Charge Index</h2>
  <table id="charge_table">
  </table>

</body>
</html>
